Source: DEBIAN_PACKAGE-dkms
Section: misc
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: AutonomouStuff <software@autonomoustuff.com>
Build-Depends: debhelper (>= 10), dkms
Standards-Version: 4.1.2
Homepage: https://www.kvaser.com/linux-drivers-and-sdk/

Package: DEBIAN_PACKAGE-dkms
Architecture: amd64
Depends: dkms (>= 1.95), ${misc:Depends}
Description: DEBIAN_PACKAGE in DKMS format.
