Source: kvaser-canlib-dev
Section: libdevel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Joshua Whitley <jwhitley@autonomoustuff.com>
Build-Depends: debhelper (>= 10), cppcheck
Standards-Version: 4.1.2
Homepage: https://www.kvaser.com/linux-drivers-and-sdk/

Package: kvaser-canlib-dev
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kvaser canlib headers and shared object libraries.
